!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", href: "stylesheets/application.min.css" }
    %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?sensor=false" }
    %script{ type: "text/javascript", src: "javascript/application.min.js" }

    %title
      chrissprehe.com
  %body#container{ "data-src" => "images/background.png", "data-x2-src" => "images/background-2x.png" }
    %header
      %h1
        %span Welcome.
    #main
  :javascript
      App.advanceReadiness();
