%html
  %head
    %meta{ charset: "utf-8" }
    %link{ rel: "stylesheet", type: "text/css", href: "stylesheets/application.min.css" }
    %link{ rel: "stylesheet", type: "text/css", href: "http://fonts.googleapis.com/css?family=Source+Code+Pro:400,500|Pacifico" }
    %script{ type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?sensor=false" }
    %script{ type: "text/javascript", src: "javascript/application.min.js" }

    %title
      ChrisSprehe.com
  %body#container
    %header
      %nav
        %ul.icons
          %a.nav-link{ href: "https://github.com/spra85", target: "_blank" }
            %li
              %i.fa.fa-github
                %span.desc GitHub
          %a.nav-link{ href: "https://twitter.com/csprehe9", target: "_blank" }
            %li
              %i.fa.fa-twitter
                %span.desc Twitter
          %a.nav-link{ href: "https://www.facebook.com/chris.sprehe", target: "_blank" }
            %li
              %i.fa.fa-facebook-square
                %span.desc Facebook
          %a.nav-link{ href: "http://www.linkedin.com/profile/view?id=18713662", target: "_blank" }
            %li
              %i.fa.fa-linkedin-square
                %span.desc LinkedIn
          %a.nav-link{ href: "http://instagram.com/csprehe9", target: "_blank" }
            %li
              %i.fa.fa-instagram
                %span.desc Instagram
          %a.nav-link{ href: "http://www.flickr.com/photos/85229626@N05/", target: "_blank" }
            %li
              %i.fa.fa-flickr
                %span.desc Flickr

