<div>
  <div class="icons">
    <a class="nav-link" data-desc="GitHub" href="https://github.com/spra85" target="_blank">
      <i class="fa fa-github"></i>
    </a>
    <a class="nav-link" data-desc="Twitter" href="https://twitter.com/csprehe9" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a class="nav-link" data-desc="Facebook" href="https://www.facebook.com/chris.sprehe" target="_blank">
      <i class="fa fa-facebook-square"></i>
    </a>
    <a class="nav-link" data-desc="LinkedIn" href="http://www.linkedin.com/profile/view?id=18713662" target="_blank">
      <i class="fa fa-linkedin-square"></i>
    </a>
    <a class="nav-link" data-desc="Instagram" href="http://instagram.com/csprehe9" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a class="nav-link" data-desc="Flickr" href="http://www.flickr.com/photos/85229626@N05/" target="_blank">
      <i class="fa fa-flickr"></i>
    </a>
    <a class="nav-link" data-desc="Travel" {{action goToPlaces}}>
      <i class="fa fa-globe"></i>
    </a>
    <a class="nav-link" data-desc="Blogs" {{action goToBlogs}}>
      <i class="fa fa-pencil"></i>
    </a>

    <div id="description">
      {{activeLinkDescription}}
    </div>
  </div>
  <div class="animated-container">
    {{animated-outlet name="main"}}
  </div>
</div>