<div class="blogs">
  <ul>
    <li class="header-row"></li>
    <li class="blog-title">Blog posts</li>
    {{#each blog in blogs}}
      <li class="blog">
        <a {{bindAttr href="blog.url"}} class="blog-link" target="_blank">
          {{blog.name}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>