@mixin media($breakpoint: $desktop, $breakpoint-type: min-width) {
  @media screen and ($breakpoint-type: $breakpoint) {
    @content;
  }
}

@mixin retina-image($filename, $background-size, $extension: png) {
  background-image: url("#{$filename}.#{$extension}");

  @include hidpi {
    background-image: url("#{$filename}@2x.#{$extension}");
    background-size: $background-size;
  }
}

@mixin cursive {
  font-family: 'Pacifico', cursive;
}

