#container {
  header {
    .icons {
      padding: 0;
      list-style-type: none;
      width: 100%;

      a {
        font-size: 35px;
        color: $black;
        text-decoration: none;
        font-weight: bold;
        font-size: 150px;

        @include media {
          display: inline-block;
          font-size: 75px;
        }

        li {
          padding: 10px;
          cursor: pointer;

          .fa {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
