$fa-font-path: "../fonts";

//Colors
$gray: #bfbfbf;
$black: #000;
$white: #fff;
$off-white: #f7f7f7;
$red: red;
$dark-blue: #5a7ba4;


//Breakpoints
$desktop: 1000px;
$mobile: 360px;
$small-tablet: 420px;
$tablet: 768px;
