@import "bourbon";
@import "neat";
$fa-font-path: "../fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$dark-gray: #282828;

html {
  background:url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

#container {
  @include outer-container;

  font-family: $helvetica;

  header {
    @include span-columns(12);

    h1 {
      @include span-columns(6);
      @include shift(3);

      $header-border-radius: 8px;
      @include border-top-radius($header-border-radius);
      @include border-bottom-radius($header-border-radius);
      @include border-left-radius($header-border-radius);
      @include border-right-radius($header-border-radius);

      background-color: $dark-gray;
      border: 1px solid white;
      color: white;
      font-size: 4em;
      max-width: 10em;
      min-width: 4em;
      opacity: 0.35;
      padding: 5px;
      text-align: center;

      &:after {
        clear: both;
      }
    }
  }

  #welcome {
    @include span-columns(6);
    @include shift(3);
    color: white;
    font-size: 4em;
  }

  .icons {
    @include span-columns(6);
    @include shift(3);

    font-color: $dark-gray;
    font-size: 3em;
    margin-bottom: 40px;
    min-width: 10em;
    text-align: center;

    a {
      color: $dark-gray;
      text-decoration: none;
      -webkit-transition: font-size .3s ease-in-out;

      &:hover {
        font-size: 1.5em;
      }
    }

    i {
      cursor: pointer;
      padding: 0 8px;
    }
  }

  .animated-container {
    @include span-columns(12);
    min-height: 500px;
    min-width: 500px;
    height: 500px;
  }

  #main {
    @include span-columns(12);
  }

  #map-container {

    #map {
      @include span-columns(8);
      @include shift(1);

      min-width: 500px;
      min-height: 400px;
    }
  }

}
