@import "bourbon";
@import "neat";
$fa-font-path: "../fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$dark-gray: #282828;

#container {
  background:url("../images/background.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  @include outer-container;

  font-family: $helvetica;

  header {
    @include span-columns(12);

    img {
      border-radius: 27px;
      width: 60px;
    }

    span {
      opacity: 0.6;
    }

    h1 {
      @include span-columns(6);
      @include shift(3);

      font-size: 4.5em;
      max-width: 10em;
      min-width: 4em;
      padding: 5px;
      text-align: center;

      &:after {
        clear: both;
      }
    }
  }

  #welcome {
    @include span-columns(6);
    @include shift(3);
    color: white;
    font-size: 4em;
  }

  .icons {
    @include span-columns(10);
    @include shift(1);

    font-size: 3em;
    margin-bottom: 30px;
    min-width: 10em;
    padding: 15px;
    text-align: center;

    a {
      padding: 0 10px;
      color: $dark-gray;
      text-decoration: none;
      -webkit-transition: font-size .3s ease-in-out;

      &:hover {
        font-size: 1.5em;
      }
    }

    i {
      cursor: pointer;
      padding: 0 8px;
    }

    #description {
      font-size: 0.5em;
    }
  }

  .animated-container {
    @include span-columns(12);
    min-height: 500px;
    min-width: 500px;
    height: 500px;
  }

  #main {
    @include span-columns(12);

    background-color: #f9f9f9;
    border-radius: 50px;
    opacity: 0.75;
  }

  #map-container {
    opacity: 1.0;

    #map {
      @include span-columns(8);
      @include shift(1);

      max-width: 700px;
      min-width: 150px;
      min-height: 400px;
    }
  }

  .blogs {
    padding: 10px 75px;
    font-size: 1.3em;

    ul {
      padding: 0;
      list-style-type: none;
    }

    .blog {
      padding: 10px 0;
    }

    .blog-link {
      color: $dark-gray;
      text-decoration: none;
    }
  }

}
