@import "bourbon";
@import "neat";
$fa-font-path: "../fonts";
@import "../../bower_components/font-awesome/scss/font-awesome";

$dark-gray: #282828;

html {
  background:url("../images/amsterdam.jpg") no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.container {
  @include outer-container;

  font-family: $helvetica;

  header {
    @include span-columns(12);

    h1 {
      @include span-columns(6);
      @include shift(3);

      $header-border-radius: 8px;
      @include border-top-radius($header-border-radius);
      @include border-bottom-radius($header-border-radius);
      @include border-left-radius($header-border-radius);
      @include border-right-radius($header-border-radius);

      background-color: $dark-gray;
      padding: 5px;
      opacity: 0.35;
      color: white;
      border: 1px solid white;
      text-align: center;
      font-size: 4em;
      max-width: 10em;
      min-width: 4em;

      &:after {
        clear: both;
      }
    }
  }

  .icons {
    @include span-columns(4);
    @include shift(4);

    min-width: 10em;
    font-size: 2em;
    font-color: $dark-gray;
    text-align: center;

    a {
      color: $dark-gray;
      text-decoration: none;
    }

    i {
      cursor: pointer;
      padding: 0 8px;
    }
  }
}
